@charset "utf-8";

*{
	margin:5px;
	padding:0px;
	border: none;
	text-decoration:none;
	list-style-type:none;
	font-style: normal;
	vertical-align: baseline;
}

#geral{
	width: 100%;
	background-color: #FFF;
	margin: 0px auto;
}
	
#topo {
	width: 100%;
	height: 50px;
	background-color: #000;
	opacity:50;
}
	
#topo > h2{
	color:#fff;
	text-align:center;
	padding: 10px 0 10px 0;
	font-family:verdana, arial, times new roman;
}

#menu {
	float:left;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#menu li{
	float:left;
	margin-left:4.5%;
}
	
#menu a{
	font-size: 20px;
	color:#152233;
	font-weight: bolder;
	padding: 15px 1%;
	line-height:50px;
}
	
#menu > ul > li > a:hover{
	color:#FF0047;
	border-bottom: 3px solid #000;
	border-top: 3px solid #000;
	background-color:#FFF;
}
 	
#conteudo2 {
	clear:both;
	width: 100%;
	height: 500px;
	background-repeat: no-repeat; 
 	background-position: center; 
	background-size: 1200px 400px;
	margin-bottom: 50px;
	background-image:url("BACKGROUNDS/back.jpg");
	margin-top: 10px;
}

#sobre{
	width: 100%;
	height: 600px;
	background-color:#FFF;
	margin-top: 80px;
	margin-bottom: 80px;
}
		
.z{
	float:left;
	width: 500px;
	height: 570px;
	background-color: #FFF;
	margin-left:180px;
	margin-bottom: 50px;
	margin-top: 10px;
}

.x{
	float:left;
	width: 600px;
	height: 570px;
	background-color: #FFF;
	margin-left:10px;
	margin-bottom: 50px;
	margin-top: 10px;
}

.z > h1{
	color:#000;
	padding: 80px 10px 0px 10px;
	font-size:30px;
	text-align:center;
	font-weight: bolder;
	padding: 15px 15px;
	line-height:80px;
}

.z > p{
	color:#000;
	font-size:18px;
	text-align:center;
	padding: 15px 15px;
	line-height:80px;
}

div.polaroid {
	margin-left:90px;
	width: 80%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
	width: 100%
}

div.container {
	position: relative;
	text-align: center;
	padding: 10px 20px;
}
 	
#cont2 { 
	float:left;
	width: 800px;
	height: 400px;
	background-color: #000;
	margin-left:80px;
	margin-bottom: 80px;
	margin-top: 10px;
	border-radius: 5px; 
	box-shadow:3px 4px 5px rgba(10, 10, 10, 0.6);
}

#cont2 > h2{
	color:#FFF;
	padding: 20px 10px 0px 10px;
	font-size:35px;
	text-align:center;
	line-height:80px;
	font-family:verdana	;
}
	 
#cont2 > p {
	font-size:20px;
	text-align:center;
	color:#FFF;
}
	
#cont4 { 
	float:right;
	width: 400px;
	height: 400px;
	background-color: #000;
	margin-right:70px;
	margin-bottom: 80px;
	margin-top: 10px;
	border-radius: 5px; 
	box-shadow:3px 4px 5px rgba(10, 10, 10, 0.6);
}

.f {
	float: center;
	width: 100%;
	text-indent: 0;
	padding: 90px 0 20px 0;
}

#cont3 { 
	width: auto;
	height: 600px;
	background-color: #FFF;
	margin-bottom: 20px;
	margin-top: 10px;
}

.a{
	float:left;
	width: 450px;
	height: 570px;
	background-color: #FFF;
	margin-left:10px;
	margin-bottom: 20px;
	margin-top: 10px;
} 

.b{
	float:left;
	width: 450px;
	height: 570px;
	background-color: #FFF;
	margin-bottom: 20px;
	margin-top: 10px;
} 
		
.c{
	float:left;
	width: 450px;
	height: 570px;
	background-color: #FFF;
	margin-bottom: 20px;
	margin-top: 10px;
} 

div.pola{
	margin-left:75px;
	width: 74%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
	  
img {
	width: 100%
}
	  
div.conta {
	position: relative;
	text-align: center;
	padding: 20px 20px;
}
	
#lateral {
	float: left;
	width: 350px;
	height: 600px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #FFFAFA;
}

#lateral > h1{
	color:#000;
	text-align:center;
	font-weight: bolder;
	padding: 15px 15px;
	line-height:80px;
}

#lateral > p{
	color:#000;
	text-align:center;
	font-weight: normal;
	padding: 15px 15px;
	line-height:80px;
}
	  
.figure {
	float: center;
	width: 80%;
	text-indent: 0;
	margin: 0.5em;
	padding: 0.5em;
}

#lateral1 {
	float: left;
	width: 350px;
	height: 600px;
	margin-top: 10px;
	margin-left: 15px;
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
	background-color: #FFFAFA;
}

#lateral1 > h3{
	padding: 5px 0 5px 0;
	text-indent:20px;
	color:#000;
	text-align:left;
	font-weight: bolder;
	padding: 15px 15px;
	line-height:80px;
}
	  
.fff {
	float: center;
	width: 5%;
	text-indent: 0;
	margin: 0.5em;
	padding: 0.5em;
}
	
a{
	font-size:20px;	
	color: inherit;
}

#conteudo {
	float: right;
	width: 630px;
	height: 600px;
	margin-top: 10px;
	margin-left: 15px;
	margin-right:10px;
	background-color:#FFFAFA;
	margin-top: 10px;
	margin-bottom: 10px;
}
	
#separa{
	float: right;
	width:610px;
	height:60px;
	background-color:#FFFAFA;
	margin-right:10px;
	margin-top:10px;
}

#separa > h1{
	font-size:25px;
	padding: 0 0 10px 0;
	text-indent:20px;
	color:#000;
	text-align:center;
	font-weight: bolder;
	padding: 15px 15px;
	line-height:80px;
}

#imagem{
	float: right;
	width:610px;
	height:500px;
	background-color:#FFFAFA;
	margin-right:10px;
	margin-top:10px;
	margin-bottom: 10px;
}
	
#rodape{
	width: 100%;
	height: 50px;
	background: #000;
	margin-top: 10px; 
	clear: both;
}

#rodape > p{
	color:#FFF;
	text-align:center;
	font-weight: normal;
	line-height:60px;
}