@charset "utf-8";

	*{
	margin:10;
	padding:100;
	border: none;
	text-decoration:none;
	list-style-type:none;
	font-style: normal;
	vertical-align: baseline;
	}

	body{
	 background-color:#FFF;
	/* background-image:url("/home/seemg/Área de Trabalho/ANA LUÍZA HTML/XHTML + CSS/aula 2/imagens/ocean.jpg");*/
	 background-repeat: repeat; /*repeat, repeat-x, repeat-y*/
 	 background-position: center-top; /* left, right, center, top, bottom*/
	 background-attachment:fixed;/* scroll*/
	 background-size: 1200px 1100px; /* largura x altura*/
	}	


	#geral{
	width: 1410px;
	height:auto;
	background-color: #FFF;
	margin: 0 auto;
	}
	
	#topo {
	width: 1410px ;
        height: 50px;
	background-color: #000;
	/*background-image:url("/home/seemg/Área de Trabalho/ANA LUÍZA HTML/XHTML + CSS/aula 2/imagens/beach.jpg");*/
	opacity:50;
	/*background-repeat: no-repeat;
	margin-left: 15px; 
	margin-top: 10px;*/
	}
	
	#topo> h2{
	color:#fff;
	text-align:center;
	padding: 10px 0 10px 0;
	font-family:verdana, arial, times new roman;	
	/*font-size:15px;*/
	}

	#menu {
	float:left;
	width: 1410px;
   	height: 46px;
	background-color: #FFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*background-image:url("/home/seemg/Área de Trabalho/ANA LUÍZA HTML/XHTML + CSS/aula 2/imagens/beach.jpg");*/
	/*background-repeat: no-repeat;
	margin-left: 15px; 
	margin-top: 10px;*/
	}

	/*Início do menu animado*/
	#menu ul{
	margin:10;
	padding:10;
	}

	#menu li{
	margin:0;				/*MENU CSS RESET*/
	padding:0;
	list-style:none;
	}

	#menu a{
	margin:0;
	padding:0;
	text-decoration:none;
	}

	#menu >ul >li{
	/*display:inline; posicionar na horizontal*/
	float:left;
	margin-left:190px;
	}
	
	#menu > ul > li > a{
	color:#152233;
	font-weight: bolder;
	padding: 15px 15px
	line-height:80px;
	}
	
	#menu > ul > li > a:hover{
	color:#FF0047;
	border-bottom: 3px solid #000;
	border-top: 3px solid #000;
	background-color:#FFF;/*rgba(214, 0, 100, 0.6);*/
	}

	#conteudo1{				/*Div para Todo o conteudo referente a o cadastro*/
	width: 1410px;
  height: 1300px;
	background-color:#FFFAFA;
	margin-top: 10px;
}

	#cad{						/*Div para texto Cadastro*/
		width: 1410px;
		height: 60px;
		background-color:#000;
		line-height: 33px;
	}
	#cad> h1{
	color:#fff;
	text-align:center;
	padding: 10px 0 10px 0;
	font-family:verdana, arial, times new roman;	
	/*font-size:15px;*/
	}
	#fal{ 						/*Div para texto de fale sobre sua experiência*/
		width: 1380px;
		height: 50px;
		background-color:#fff;
		line-height: 30px;
		margin-top: 10px;
		font-weight: bolder;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius:10px;/* Só funciona no Chrome*/
		-moz-border-radius:10px;/* Firefox */
		-webkit-border-radius:10px;/* I explore, EDGE*/
	}
	#fal > h1{
	color:#000;
	text-align:center;
	padding: 10px 0 10px 0;
	font-family:verdana, arial, times new roman;	
	/*font-size:15px;*/
}
	#tudo{				/*Div para colocar o formulário*/
		width: 1380px;
		height: 1150px;
		background-color:#fff;
		color: #000;
	background-image: url("LOGO/MORIESMÈ1.png");
	background-size: 4010px 1410px;
		margin-top: 10px;
		font-weight: bolder;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius:10px;/* Só funciona no Chrome*/
		-moz-border-radius:10px;/* Firefox */
		-webkit-border-radius:10px;/* I explore, EDGE*/
	}
	#gera{				/*Div para padronizar as divs do fromulário*/
		width: 1350px;
		height: 800px;
		margin-left: 10px;		
		margin-right: 10px;
		margin-bottom: 10px; 
		border-radius:10px;/* Só funciona no Chrome*/
		-moz-border-radius:10px;/* Firefox */
		-webkit-border-radius:10px;/* I explore, EDGE*/
	}
	.ig{				/*Div referente a nome, email e sexo do formulário*/
		width: 1310px;
		height: 50px;
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
		padding: 10px;
		line-height:50px;
		background-color:#fff;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius:10px;/* Só funciona no Chrome*/
		-moz-border-radius:10px;/* Firefox */
		-webkit-border-radius:10px;/* I explore, EDGE*/

	
	}
	.lado{				/*Div referente a Data e estado do formulário*/
		float: left;
		width: 659px;
		height: 50px;
		background-color:#fff;
		text-align: center;
		color: #000;
		line-height: 50px;
		margin-top: 10px;
		margin-left: 10PX;
		font-weight: bolder;
		margin-bottom:10px;
		background-color:#fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius:10px;/* Só funciona no Chrome*/
		-moz-border-radius:10px;/* Firefox */
		-webkit-border-radius:10px;/* I explore, EDGE*/
		
	}
	#op{				/*Div referente a opção de comida do formulário*/
		width: 1310px;
		height: 75px;
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px; clear: both;
		padding: 10px;
		line-height: 75px;
		background-color:#fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius:10px;/* Só funciona no Chrome*/
		-moz-border-radius:10px;/* Firefox */
		-webkit-border-radius:10px;/* I explore, EDGE*/
	}
	#maior{				/*Div referente a comentário sobre a comida no formulário*/		
		width: 1310px;
		height: 350px;
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 10px;
				background-color:#fff;
		border-radius:10px;/* Só funciona no Chrome*/
		-moz-border-radius:10px;/* Firefox */
		-webkit-border-radius:10px;/* I explore, EDGE*/
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	#maior > textarea{
	/*margin-top:10px;*/
	border:1px solid;
	width:1280px;
	height:230px;
	margin-left:10px;
	resize:none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	#enviar{
	margin-top:10px;
	width:100px;
	height:30px;
	background-color:#000;
	color: #FFF;
	font-weight:bolder;
	margin-left:10px;
	border-radius:5px;
	-moz-border-radius:5px;/* Firefox */
		-webkit-border-radius:5px;/* I explore, EDGE*/
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	#cancelar{
	margin-top:10px;
	background-color:#000;
	color: #FFF;
	font-weight:bolder;
	width:100px;
	height:30px;
	margin-left:10px;
	border-radius:5px;
-moz-border-radius:5px;/* Firefox */
		-webkit-border-radius:5px;/* I explore, EDGE*/
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}
	#logo{
		float: right;
		width: 200px;
		height: 200px;
		padding: 10px;
		background-image:url("LOGO/MZINHO.png");
		background-repeat:no-repeat;/* repeat, repeat-x, repeat-y*/
		background-size:200px 200px; /*Largura x altura*/
		border-radius:10px;/* Só funciona no Chrome*/
		-moz-border-radius:10px;/* Firefox */
		-webkit-border-radius:10px;/* I explore, EDGE*/
	}
	#conteudo {
	width: 1410px;
     height: 653px;
	background-color: #FFFAFA;
	margin-top: 10px;
	margin-bottom: 10px;
	}
	
	.texto{
	float:left;
	width:290px;
	height:560px;
	background-color:#FFFAFA;
	margin-left:10px;
	margin-top:10px;
	margin-bottom: 10px;
	padding: 10px;
	}
	.texto > h1{
	color:#000;
	text-align:center;
	font-weight: bolder;
	padding: 15px 15px
	line-height:80px;
	}
	.texto > p{
	color:#000;
	text-align:center;
	font-weight: normal;
	padding: 15px 15px
	line-height:80px;
	}
	  .figure {
	  float: center;
	  width: 80%;
	  text-indent: 0;
	  margin: 0.5em;
	  padding: 0.5em;
	}
	.textoo > h3{
	padding: 20px 0 5px 0;
	text-indent:20px;
	color:#000;
	text-align:left;
	font-weight: bolder;
	padding: 15px 15px
	line-height:80px;
	}
	.fff {
	  float: center;
	  width: 2%;
	  text-indent: 0;
	  margin: 0.5em;
	  padding: 0.5em;}
	
	a{
	font-size:18px;	
	color: inherit;}


	#Rodape{
		width: 1410px;
		height: 60px;
		background: #000;
		margin-top: 10px; clear: both;
		margin-bottom: 10px;
	}

	#Rodape > p{
	color:#FFF;
	text-align:center;
	font-weight: normal;
	line-height:60px;
	}
